{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

<ul id="menu" style="list-style: none;">
    <li data-menuanchor="project">
        <a href="#projectA">PROJECT</a>
    </li>
    <li data-menuanchor="text">
        <a href="#textA">ABOUT</a>
    </li>
    <li data-menuanchor="exterior">
        <a href="#exteriorA">EXTERIOR</a>
    </li>
    <li data-menuanchor="plan">
        <a href="#planA">PLAN</a>
    </li>
    <li data-menuanchor="interior">
        <a href="#interiorA">INTERIOR</a>
    </li>
    <li data-menuanchor="contacts">
        <a href="#contactsA">CONTACTS</a>
    </li>
</ul>



<div id="fullpage">

  <!-- ***************Project**************************************-->
    <section class="section" id="project"  data-anchor="projectA">
      <div class="container-fluid">

        <div class="row intro">
          <h1 class="title">H - O - T - C</h1>
        </div>
      </div>
    </section>
<!-- ***************Project**************************************-->


<!-- ***************Text**************************************-->
      <section class="section" id="text" data-anchor="textA">
        <div class="container-fluid" >
          <div class="row">

            <div class="col-md-4">
              <h2>House on <br>The Clif</h2>
            </div>

            <div class="col-md-8">
              <p id="loremText">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Delectus quisquam beatae sit eaque excepturi non, provident sequi eos ab nisi tempore maiores repellat perferendis repellendus,
                qui odit cumque! Nisi, odio?
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Blanditiis quae rerum qui numquam dolorem eius et iste sed tempore voluptas? Soluta id deserunt earum, laborum?
              Inventore odio porro corrupti quo.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Praesentium itaque voluptatem libero at ipsa rem perferendis,
                culpa tenetur explicabo iusto ea harum obcaecati optio, in aspernatur beatae sapiente porro ducimus
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Praesentium voluptatem odit, molestias possimus quae eum labore impedit tenetur quia corporis voluptas, qui optio inventore sapiente
              <span class="lastRow">
                ducimus ea suscipit! Consequatur, reprehenderit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati dolores quibusdam quaerat provident necessitatibus consectetur,
                quidem maiores ipsam pariatur, rerum quisquam, labore magnam amet asperiores corporis sint accusantium molestiae ex.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Perferendis quia iste, obcaecati ex repellat, saepe pariatur soluta,
                necessitatibus quasi odit cum, a sequi veniam officiis.
                Molestiae assumenda voluptas, dolorum pariatur.
              </span>
            </p>
            </div>
          </div>

        </div>
      </section>
<!-- ***************Text**************************************-->


<!-- ***************Exterior**************************************-->
    <section class="section" id="exterior" data-anchor="exteriorA">
      <div class="container-fluid">
        <div class="row intro">
          <div id="img"></div>
        </div>



          <div class="row" id="secondRow">
            <div class="col-md-8 ">
              <div class="image"></div>
            </div>
            <div class="col-md-4 ">
              <div class="image"></div>
            </div>
          </div>


          <div class="row" id="thirdRow">
            <div class="col-md-4" >
              <div class="image"></div>
            </div>
            <div class="col-md-8 lastRow">
              <div class="image"></div>
            </div>
          </div>


          <div class="row lastRow" id="fourthRow">
            <div class="col-md-8">
              <div class="image"></div>
            </div>
            <div class="col-md-4" >
              <div class="image"></div>
            </div>
          </div>
      </div>
    </section>
<!-- ***************Exterior**************************************-->


<!-- ***************PLAN**************************************-->
    <section class="section" id="plan" data-anchor="planA">
      <div class="container-fluid">
        <div class="row intro">
          <div id="img"></div>
        </div>

        <div class="row" id="buttonRow">
          <div class="col-xs-12">
            <button class="btn btn-default">Download Plan</button>
          </div>
        </div>
      </div>
    </section>
<!-- ***************PLAN**************************************-->


<!-- ***************Interior**************************************-->
    <section class="section" id="interior" data-anchor="interiorA">
      <div class="container-fluid">
        <div class="row intro">
          <div id="img"></div>
        </div>



          <div class="row" id="secondRow">
            <div class="col-md-8 ">
              <div class="image"></div>
            </div>
            <div class="col-md-4 ">
              <div class="image"></div>
            </div>
          </div>


          <div class="row" id="thirdRow">
            <div class="col-md-4" >
              <div class="image"></div>
            </div>
            <div class="col-md-8 lastRow">
              <div class="image"></div>
            </div>
          </div>


          <div class="row lastRow">
            <div class="col-md-8">
              <div class="image"></div>
            </div>
            <div class="col-md-4" >
              <div class="image"></div>
            </div>
          </div>
      </div>
    </section>
<!-- ***************PLAN**************************************-->


<!-- ***************Contacts**************************************-->
    <section class="section" id="contacts" data-anchor="contactsA">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
              <h3>Nderim & Co. Ltd.</h3>
          </div>
        </div>

        <div class="row">
        <div class="col-sm-4">
          <div id="location">
            <h4>Location</h4>
            <p>AVENUE STREET, 88520</p>
            <P>Colorado</P>
            <p>USA</p>
          </div>
        </div>


          <div class="col-sm-4">
            <div id="sales">
              <h4>Sales</h4>
              <p>OXFORDLINES STREET, 11020</p>
              <P>Oxford</P>
              <p>UK</p>
            </div>

          </div>

          <div class="col-sm-4">
            <div id="info">
              <h4>Info</h4>
              <p>email: rimitopalli@gmial.com</p>
              <p>developed by: Nderim Topalli</p>
              <p>Udine</p>
            </div>
          </div>
          </div>


        <div id="rights">
          <p>@all rights reserved NderimTopalli</p>
        </div>
      </div>

    </section>
    <!-- ***************PLAN**************************************-->

</div>

{% endblock %}
