<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.8/jquery.fullPage.css">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    {% block content %}
    {% endblock %}

    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.8/jquery.fullPage.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.8/vendors/jquery.slimscroll.js"></script>

    <script>
      $(document).ready(function(){

         $('#fullpage').fullpage({
             scrollBar: true,
             autoScrolling: false,
         });

         var menu = $('#menu');
         const origOffsetY = menu.offset().top;

         $(document).scroll(function(){
                if ($(window).scrollTop() > origOffsetY) {
                    menu.addClass('menuClass');
                } else {
                  menu.removeClass('menuClass');
                }
         });

      })
    </script>
  </body>
</html>
