@import 'https://fonts.googleapis.com/css?family=Slabo+27px|Roboto+Condensed';
@import "https://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css";
.thumbnail {
  padding: 0px 0px 0px 0px;
  border: none;
  margin-bottom: 0px;
  background-color: #fff;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('http://lorempixel.com/600/250');
  background-size: cover;
}
.thumbnail img {
  vertical-align: middle;
}
.square-thumbnail {
  /*width:130px;
    height:130px;*/
  width: 100%;
  height: 0px;
  padding-bottom: 100% !important;
}
.round-thumbnail {
  /*width:130px;
    height:130px;*/
  width: 100%;
  height: 0px;
  padding-bottom: 100% !important;
}
.anamorfic-thumbnail {
  /*width:130px;
    height:130px;*/
  width: 100%;
  height: 0px;
  padding-bottom: 60% !important;
}
.landscape-thumbnail {
  width: 100%;
  height: 0px;
  padding-bottom: 40% !important;
  margin-bottom: 10px;
}
.vertical-thumbnail {
  /*width:130px;
    height:130px;*/
  width: 100%;
  height: 0px;
  padding-bottom: 160% !important;
}
#logo-selection .thumbnail {
  background-size: contain;
}
.menuClass {
  position: fixed !important;
  top: 0 !important;
  background-color: rgba(0, 0, 0, 0.6);
  bottom: auto !important;
}
#project {
  background: #fff;
  background-image: url('http://www.genovic.com/thumbs/2014/06/Nature-Wallpaper-HD-for-Desktop-Free-Download-Full-Size.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  height: auto !important;
  min-height: 100%;
}
#project .intro {
  margin-top: -300px !important;
}
#project .intro .title {
  border: 2px solid white !important;
  color: white;
  margin-top: 3%;
  margin-left: 20%;
  width: 200px;
  font-weight: 100;
}
#text .container-fluid {
  height: 100%;
  padding: 60px;
  padding-top: 0;
}
#text .container-fluid .intro {
  height: 0;
  text-align: center;
  margin-top: -30px;
  margin-bottom: 5%;
}
#text .container-fluid .intro h1 {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  text-align: center;
  line-height: 50px;
}
#text .container-fluid .lastRow {
  display: none;
}
#exterior {
  background-color: rgba(220, 219, 219, 0.45);
}
#exterior .container-fluid {
  height: 100%;
  padding: 60px;
  padding-top: 0;
}
#exterior .container-fluid .intro {
  height: 20%;
  text-align: center;
  margin-top: -30px;
  margin-bottom: 5%;
}
#exterior .container-fluid .intro h1 {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  text-align: center;
  line-height: 50px;
}
#exterior .container-fluid .lastRow {
  display: none;
}
#exterior .row.intro {
  height: 10%;
  width: auto;
}
#exterior .row.intro #img {
  background-image: url('/images/exterior.png');
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
#exterior #secondRow {
  height: 58%;
}
#exterior #secondRow div {
  height: 50%;
}
#exterior #secondRow div .image {
  padding: 0px 0px 0px 0px;
  border: none;
  margin-bottom: 0px;
  background-color: #fff;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('http://lorempixel.com/600/250');
  background-size: cover;
  height: 100%;
}
#exterior #secondRow div .image img {
  vertical-align: middle;
}
#exterior #thirdRow {
  height: 28%;
}
#exterior #thirdRow div {
  height: 100%;
}
#exterior #thirdRow div .image {
  padding: 0px 0px 0px 0px;
  border: none;
  margin-bottom: 0px;
  background-color: #fff;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('http://lorempixel.com/600/250');
  background-size: cover;
  height: 100%;
}
#exterior #thirdRow div .image img {
  vertical-align: middle;
}
#plan {
  background: #fff;
  background-image: url('http://resumee.net/wp-content/uploads/2016/01/house-plans-by-cost-to-build-in-cost-ro-build-modern-home-kid-room-duobux.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  height: auto !important;
  min-height: 100%;
}
#plan .container-fluid {
  height: 100%;
  padding: 60px;
  padding-top: 0;
}
#plan .container-fluid .intro {
  height: 20%;
  text-align: center;
  margin-top: -30px;
  margin-bottom: 5%;
}
#plan .container-fluid .intro h1 {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  text-align: center;
  line-height: 50px;
}
#plan .container-fluid .lastRow {
  display: none;
}
#plan .row.intro {
  height: 10%;
  width: auto;
}
#plan .row.intro #img {
  background-image: url('/images/plan.png');
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
#plan #buttonRow {
  height: 83%;
  text-align: center;
  padding-top: 350px;
}
#plan #buttonRow button {
  background-color: black;
  color: white;
  font-size: large;
}
#interior .container-fluid {
  height: 100%;
  padding: 60px;
  padding-top: 0;
}
#interior .container-fluid .intro {
  height: 20%;
  text-align: center;
  margin-top: -30px;
  margin-bottom: 5%;
}
#interior .container-fluid .intro h1 {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  text-align: center;
  line-height: 50px;
}
#interior .container-fluid .lastRow {
  display: none;
}
#interior .row.intro {
  height: 10%;
  width: auto;
}
#interior .row.intro #img {
  background-image: url('/images/interior.png');
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
#interior #secondRow {
  height: 58%;
}
#interior #secondRow div {
  height: 50%;
}
#interior #secondRow div .image {
  padding: 0px 0px 0px 0px;
  border: none;
  margin-bottom: 0px;
  background-color: #fff;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('http://lorempixel.com/600/250');
  background-size: cover;
  height: 100%;
}
#interior #secondRow div .image img {
  vertical-align: middle;
}
#interior #thirdRow {
  height: 28%;
}
#interior #thirdRow div {
  height: 100%;
}
#interior #thirdRow div .image {
  padding: 0px 0px 0px 0px;
  border: none;
  margin-bottom: 0px;
  background-color: #fff;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('http://lorempixel.com/600/250');
  background-size: cover;
  height: 100%;
}
#interior #thirdRow div .image img {
  vertical-align: middle;
}
#contacts {
  background-color: black;
  color: white;
}
#contacts .row:first-child {
  margin-bottom: 20%;
}
#contacts #rights {
  border-top: 1px solid white;
  margin-top: 25px;
}
#menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 70;
  width: 100%;
  height: 20px;
  padding: 8%;
  padding-top: 0;
  margin: 0;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}
#menu li {
  display: inline-block;
  margin: 2px;
  color: #000;
  background: #fff;
  background-color: transparent;
  border-radius: 10px;
  font-size: 10px;
}
#menu li a {
  color: white;
}
@media only screen and (min-width: 768px) {
  .intro {
    margin-top: -45px !important;
    margin-left: 0 !important;
  }
  .intro .title {
    margin-left: 40% !important;
  }
  #menu {
    text-align: center;
    position: absolute;
    height: auto;
    bottom: 0;
    top: auto;
    left: auto;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    padding: 0;
  }
  #menu li {
    display: inline-block;
    margin: 17px;
    margin-left: 4%;
    background: none;
    font-size: 20px;
  }
  #menu li a {
    color: rgba(255, 255, 255, 0.61);
    font-family: 'Roboto Condensed', sans-serif;
  }
  #project .row.intro {
    margin-top: -400px !important;
  }
  #text .container-fluid {
    padding: 0px 100px 100px !important;
    text-align: center;
  }
  #text .container-fluid .row {
    margin-top: 20%;
  }
  #text .lastRow {
    display: inline !important;
  }
  #text h2 {
    margin-bottom: 55px;
  }
  #text p#loremText {
    column-count: 2;
  }
  #exterior .image {
    height: 250px;
    margin-bottom: 2%;
  }
  #plan .title {
    margin-left: 40% !important;
  }
  #interior .image {
    height: 250px;
    margin-bottom: 2%;
  }
}
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  #exterior #secondRow,
  #interior #secondRow {
    height: 28%;
    margin-bottom: 2%;
  }
  #exterior #secondRow div,
  #interior #secondRow div {
    height: 100%;
  }
  #exterior #secondRow div .image,
  #interior #secondRow div .image {
    padding: 0px 0px 0px 0px;
    border: none;
    margin-bottom: 0px;
    background-color: #fff;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('http://lorempixel.com/600/250');
    background-size: cover;
    height: 100%;
  }
  #exterior #secondRow div .image img,
  #interior #secondRow div .image img {
    vertical-align: middle;
  }
  #exterior #thirdRow,
  #interior #thirdRow {
    height: 28%;
    margin-bottom: 2%;
  }
  #exterior #thirdRow div,
  #interior #thirdRow div {
    height: 100%;
  }
  #exterior #thirdRow div .image,
  #interior #thirdRow div .image {
    padding: 0px 0px 0px 0px;
    border: none;
    margin-bottom: 0px;
    background-color: #fff;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('http://lorempixel.com/600/250');
    background-size: cover;
    height: 100%;
  }
  #exterior #thirdRow div .image img,
  #interior #thirdRow div .image img {
    vertical-align: middle;
  }
  #exterior .lastRow,
  #interior .lastRow {
    display: block !important;
    height: 28%;
  }
  #exterior .lastRow div,
  #interior .lastRow div {
    height: 100%;
  }
  #exterior .lastRow div .image,
  #interior .lastRow div .image {
    padding: 0px 0px 0px 0px;
    border: none;
    margin-bottom: 0px;
    background-color: #fff;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('http://lorempixel.com/600/250');
    background-size: cover;
    height: 100%;
  }
  #exterior .lastRow div .image img,
  #interior .lastRow div .image img {
    vertical-align: middle;
  }
}
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  #exterior .container-fluid,
  #interior .container-fluid,
  #text .container-fluid {
    padding: 0px 25% 5% !important;
  }
}
/* Large Devices, Wide Screens */
