
@import 'https://fonts.googleapis.com/css?family=Slabo+27px|Roboto+Condensed';
@import "https://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css";
@import "thumbnail.less";


//---------------------------Mobile-------------------------------

.containerFluid( @introHeight){
  .container-fluid{
    height: 100%;
    padding: 60px;
    padding-top: 0;

    .intro{
      height: @introHeight;
      text-align: center;
      margin-top: -30px;
      margin-bottom: 5%;

      h1{
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        text-align: center;
        line-height:50px
      }
    }

    .lastRow{
      display: none;
    }
  }

}


.fullScreenBackground(@imageUrl){
      background: #fff;
      background-image: url(@imageUrl);
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 100%;
      height: auto !important;
      min-height:100%;
}


.menuClass{
  position: fixed !important;
  top: 0 !important;
  background-color: rgba(0, 0, 0, 0.6);
  bottom: auto !important;

}

.imgTitle(@url){
  background-image: url(@url);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}


//------------******************--------------------

#project{
  .fullScreenBackground('http://www.genovic.com/thumbs/2014/06/Nature-Wallpaper-HD-for-Desktop-Free-Download-Full-Size.jpg');


  .intro{
      margin-top: -300px !important;
    .title{
      border: 2px solid white !important;
      color: white;
      margin-top: 3%;
      margin-left: 20%;
      width: 200px;
      font-weight: 100;
    }
  }

}

//-------------------------------------
#text{
  .containerFluid(0);
}
//-------------------------------------

#exterior{
  background-color: rgba(220, 219, 219, 0.45);

  .containerFluid(20%);

  .row.intro{
    height: 10%;
    width: auto;
    #img{
      .imgTitle('/images/exterior.png');
    }

  }

  #secondRow{
    height: 58%;

    div{
      height: 50%;

      .image{
        .thumbnail;
        height: 100%;
      }
    }
  }

  #thirdRow{
    height: 28%;

    div{
      height: 100%;

      .image{
        .thumbnail;
        height: 100%;
      }
    }
  }
}

//-------------------------------------

#plan{
  .fullScreenBackground('http://resumee.net/wp-content/uploads/2016/01/house-plans-by-cost-to-build-in-cost-ro-build-modern-home-kid-room-duobux.jpg');

    .containerFluid(20%);

    .row.intro{
      height: 10%;
      width: auto;
      #img{
        .imgTitle('/images/plan.png');
      }

    }

    #buttonRow{
      height: 83%;
      text-align: center;
      padding-top: 350px;

      button{
        background-color: black;
        color: white;
        font-size: large;
      }
    }
}

//-------------------------------------


#interior{
  .containerFluid(20%);

  .row.intro{
    height: 10%;
    width: auto;
    #img{
      .imgTitle('/images/interior.png');
    }
  }

  #secondRow{
    height: 58%;

    div{
      height: 50%;

      .image{
        .thumbnail;
        height: 100%;
      }
    }
  }

  #thirdRow{
    height: 28%;

    div{
      height: 100%;

      .image{
        .thumbnail;
        height: 100%;
      }
    }
  }

}

//-------------------------------------

#contacts{
  background-color: black;
  color: white;
  .row:first-child{
    margin-bottom: 20%;
  }

  #rights{
    border-top: 1px solid white;
    margin-top: 25px;
  }
}

//-------------------------------------


//------------sidebar-------------------
#menu{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 70;
  width: 100%;
  height: 20px;
  padding: 8%;
  padding-top: 0;
  margin: 0;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);

  li{
    display: inline-block;
    margin: 2px;
    color: #000;
    background: #fff;
    background-color: transparent;
    border-radius: 10px;
    font-size: 10px;

  a{
    color: white;
  }
  }
}

//---------------------------Mobile-------------------------------







//-------------------------MEDIA QUERIES------------------------------

@media only screen and (min-width : 768px) {

  .intro{
    //margin-top: -176px !important;
    margin-top: -45px !important;
    margin-left: 0 !important;
    .title{
      margin-left: 40% !important;
    };
  }

  #menu{
    text-align: center;
    position: absolute;
    height: auto;
    bottom: 0;
    top:auto;
    left: auto;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    padding: 0;

    li{
      display: inline-block;
      margin: 17px;
      margin-left: 4%;
      background: none;
      font-size: 20px;

      a{
        color:rgba(255, 255, 255, 0.61);
        font-family: 'Roboto Condensed', sans-serif;
      }
    }
  }


  #project{
    .row.intro{
      margin-top: -400px !important;
    }
  }


  #text{
    .container-fluid{
      padding: 0px 100px 100px !important;
      text-align: center;

      .row{
        margin-top: 20%;
      }
    }
    .lastRow{
      display: inline !important;
    }
    h2{
      margin-bottom: 55px;
    }
    p#loremText{
      column-count: 2;
    }
  }


  #exterior{
    .image{
      height: 250px;
      margin-bottom: 2%;
    }
  }


  #plan{

    .title{
      margin-left: 40% !important;
    }
  }


  #interior{
    .image{
      height: 250px;
      margin-bottom: 2%;
    }
  }


}



/* Medium Devices, Desktops *///-------------------------------
@media only screen and (min-width : 992px) {

#exterior, #interior{
  #secondRow{
    height: 28%;
    margin-bottom: 2%;
    div{
      height: 100%;

      .image{
        .thumbnail;
        height: 100%;
      }
    }
  }


  #thirdRow{
    height: 28%;
    margin-bottom: 2%;
    div{
      height: 100%;

      .image{
        .thumbnail;
        height: 100%;
      }
    }
  }


  .lastRow{
    display: block !important;
    height: 28%;

    div{
      height: 100%;

      .image{
        .thumbnail;
        height: 100%;
      }
    }
  }
}

}
/* Medium Devices, Desktops *///-------------------------------




/* Large Devices, Wide Screens */ //----------------------------
@media only screen and (min-width : 1200px) {
  #exterior, #interior, #text{
    .container-fluid{
      padding: 0px 25% 5% !important;
    }
  }

}
/* Large Devices, Wide Screens */ //----------------------------
