// thumbnailS
//------- Variables---------
@color: #fff;

//--------------------------


.thumbnail{
    padding: 0px 0px 0px 0px;
    border: none;
    margin-bottom: 0px;

    // border-top-left-radius: @squared-corners;
    // border-top-right-radius: @squared-corners;
    // border-bottom-left-radius: @squared-corners;
    // border-bottom-right-radius: @squared-corners;
    background-color:@color;

    // box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.10) inset;
    // -webkit-box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.10) inset;
    // -moz-box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.10) inset;
    // -ns-box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.10) inset;
    // -o-box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.10) inset;

    overflow: hidden;
    background-position:center;
    background-repeat:no-repeat;
    background-image:url('http://lorempixel.com/600/250');
    background-size: cover;

    img{
        vertical-align: middle;
        }
    }

.square-thumbnail{
    /*width:130px;
    height:130px;*/
    width:100%;
    height:0px;
    padding-bottom: 100% !important;
    }

.round-thumbnail{
    /*width:130px;
    height:130px;*/
    width:100%;
    height:0px;
    padding-bottom: 100% !important;
    }

.anamorfic-thumbnail{
    /*width:130px;
    height:130px;*/
    width:100%;
    height:0px;
    padding-bottom: 60% !important;
    }

.landscape-thumbnail{
    width:100%;
    height:0px;
    padding-bottom: 40% !important;
    margin-bottom: 10px;
    }

.vertical-thumbnail{
    /*width:130px;
    height:130px;*/
    width:100%;
    height:0px;
    padding-bottom: 160% !important;
    }

#logo-selection{
    .thumbnail{
        background-size: contain;
        // &.active{
        //     border:1px solid orange;
        // }
    }
}
